<%- include('header') %>
<!--导航栏-->
<nav>
        <div class="navbar">
          <div class="inner_bar">
            <a class="curent" href="/search">搜索资讯<i></i></a>
            <a  href="/upload">上传资讯<i></i></a>
            <a  href="/search_reports">报告搜索<i></i></a>
          </div>
        </div>
</nav>
<div style="margin-top:20px;">
<ul class= "news_display">
<li><label>标题：</label><%= news.title%></li>
<li><label>作者：</label><%= news.author%></li>
<li><label>日期：</label><%= news.date%></li>
<li><label>内容：</label><br/><br/><%= news.content%></li>
<li><label>附件内容：</label><br/><br/><%= news.attachment%></li>
</ul>
</div>
<%- include('footer')%>